.sub_container {
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  background: #eeaeae;
  background: radial-gradient(
    circle,
    rgba(238, 174, 174, 1) 16%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 24px;
}

.h2 {
  text-align: center;
  color: #eeaeae;
}
